# [教學目標]
- Pandas 處理最常用的資料格式, 我們稱為 DataFrame, 試著使用不同的方式新建一個 DataFrame 吧
- 練習看看 DataFrame 可以對資料做什麼操作? (groupby 的使用)

# [範例重點]
- 新建 DataFrame 方法一 (In[2], In[3])
- 新建 DataFrame 方法二 (In[4], In[5])
- 資料操作 : groupby (In[6], Out[6])

In [ ]:
import pandas as pd
import sys

In [ ]:
print(sys.version)

3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]

### 方法一

In [ ]:
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}
#dictionary:  'weekday'為key，'Sun'、'Sun'、'Mon'、'Mon'為value

In [ ]:
visitors_1 = pd.DataFrame(data) #轉換成DataFrame的格式
print(visitors_1)

  weekday    city  visitor
0     Sun  Austin      139
1     Sun  Dallas      237
2     Mon  Austin      326
3     Mon  Dallas      456

In [ ]:
visitors_1

  weekday    city  visitor
0     Sun  Austin      139
1     Sun  Dallas      237
2     Mon  Austin      326
3     Mon  Dallas      456

### 方法二

In [ ]:
#value(行的數據)
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

#key(行的label)
list_labels = ['city', 'weekday', 'visitor']

#行的數據
list_cols = [cities, weekdays, visitors]

zipped = list(zip(list_labels, list_cols))   #把key和value合成成一個object
list(zip(list_labels, list_cols))

{'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
 'visitor': [139, 237, 326, 456],
 'weekday': ['Sun', 'Sun', 'Mon', 'Mon']}

In [ ]:
print(type(zip(list_labels, list_cols)))
print(zip(list_labels, list_cols))
print(list(zip(list_labels, list_cols)))
print(dict(zip(list_labels, list_cols)))

In [ ]:
visitors_2 = pd.DataFrame(dict(zipped)) 
#把zip()合成的object轉為dict，再用pd.DataFrame()將dict轉為表格
visitors_2

     city weekday  visitor
0  Austin     Sun      139
1  Dallas     Sun      237
2  Austin     Mon      326
3  Dallas     Mon      456

## 一個簡單例子
假設你想知道如果利用 pandas 計算上述資料中，每個 weekday 的平均 visitor 數量，

通過 google 你找到了 https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas

想要測試的時候就可以用 visitors_1 這個只有 4 筆資料的資料集來測試程式碼

In [ ]:
## groupby是用來計算統計數據的一群function
## 如果想找的是各weekday的平均、最大visitor數量
visitors_1.groupby(by="weekday")['visitor'].mean()  #取各個weekday的visitor最大值
visitors_1.groupby(by="weekday")['visitor'].max()

weekday
Mon    456
Sun    237
Name: visitor, dtype: int64

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)